{% if details %}
  <div class="" style="width:0;height:0;overflow:hidden;">
    {{ details }}
  </div>
{% else %}
    <div class="" style="width:0;height:0;overflow:hidden;">
      <div class="captcha">{{ element }}</div>
    </div>
{% endif %}
